.hero {
    background-image: url("../../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 214px;
    padding-bottom: 136px;
    
}
.hero__title {
    color: $basicColor;
    text-align: center;
    font-size: 30px;
    font-weight: 700px  ;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.hero__text {
    color:$basicColor;
    text-align: center;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 17px;
}
.hero__button {
    width: 282px;
    height: 43px;
    background-color: #FF4E50;
    color: $basicColor;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    width: 282px;
    flex-shrink: 0;
}
